@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Josefin+Sans&family=Montserrat:ital,wght@0,100;0,300;1,200&family=Neonderthaw&family=Pacifico&family=Roboto:wght@300&family=Spartan:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.m-4 {
  height: 150px; }

.navbar {
  z-index: 1000; }

@media screen and (min-width: 990px) {
  .container__icons {
    order: 3; } }

.bodyIndex {
  background-color: #616160; }
  .bodyIndex div.row {
    color: #e4e2e2; }
  .bodyIndex h1 {
    color: #e4e2e2;
    position: relative;
    bottom: 1rem;
    font-family: "Spartan", sans-serif; }
  .bodyIndex .input-group {
    padding: 50px; }
    .bodyIndex .input-group .img-fluid {
      object-fit: cover;
      border-radius: 10px; }
    .bodyIndex .input-group .badge {
      font-family: "Spartan", sans-serif; }
  .bodyIndex .contenedor_cards .my-0 {
    color: white;
    font-family: "Spartan", sans-serif; }
  .bodyIndex .contenedor_cards .card-title {
    color: white;
    font-family: "Spartan", sans-serif;
    padding: 1rem; }
  .bodyIndex .contenedor_cards .fotos__pago {
    width: 11rem; }

.galeria1 {
  background-color: #616160; }
  .galeria1 h2 {
    display: flex;
    justify-content: center;
    background-color: #3a3932;
    padding: 1rem;
    margin: 2rem;
    font-family: "Spartan", sans-serif;
    color: #e4e2e2; }
  .galeria1 .button_1 {
    position: relative;
    top: 10rem;
    margin: 50px; }
  .galeria1 .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    padding: 15px;
    user-select: none; }
    .galeria1 .cards .card-cover {
      position: relative;
      height: 500px;
      cursor: pointer;
      padding: 1rem; }
    .galeria1 .cards .card-cover__background {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -1;
      transition: all 0.2s ease-in-out; }
    .galeria1 .cards .card-cover__body {
      display: grid;
      align-content: center;
      align-items: center;
      text-align: center;
      color: #e4e2e2;
      position: relative;
      background-color: rgba(27, 27, 27, 0.45);
      width: 100%;
      height: 100%;
      transition: background-color 0.5s ease;
      overflow: hidden; }
    .galeria1 .cards .card-cover__body:hover {
      background-color: transparent;
      color: rgba(190, 190, 190, 0.904); }
    .galeria1 .cards .card-cover__body:hover > img {
      transform: scale(1.3); }
  @media (max-width: 500px) {
    .galeria1 .cards {
      grid-template-columns: 1fr; } }
  .galeria1 .tituloVideos {
    display: flex;
    justify-content: center;
    background-color: #3a3932;
    color: #e4e2e2;
    font-family: "Spartan", sans-serif;
    padding: 1rem;
    margin: 2rem; }
  .galeria1 .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    gap: 1rem;
    margin: 1rem; }
    .galeria1 .gallery iframe {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .galeria1 .gallery :first-child {
      grid-column: 1 / span 2;
      grid-row: span 3; }
    .galeria1 .gallery :nth-child(2) {
      grid-column: span 3; }
  @media (max-width: 1040px) {
    .galeria1 .gallery :nth-child(n + 1) {
      grid-column: span 1 !important;
      grid-row: span 1 !important; } }
  .galeria1 .container_video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 50px;
    grid-template-areas: "video1 descripcion1 descripcion1" "descripcion2 descripcion2 video2" "video3 descripcion3 descripcion3"; }
  .galeria1 .video1 {
    grid-area: video1; }
  .galeria1 .descripcion1 {
    grid-area: descripcion1; }
  .galeria1 .video2 {
    grid-area: video2; }
  .galeria1 .descripcion2 {
    grid-area: descripcion2; }
  .galeria1 .video3 {
    grid-area: video3; }
  .galeria1 .descripcion3 {
    grid-area: descripcion3; }

.nosotros1 {
  background-color: #616160; }
  .nosotros1 h2 {
    display: flex;
    justify-content: center;
    background-color: #3a3932;
    padding: 1rem;
    margin: 2rem;
    color: #e4e2e2;
    font-family: "Spartan", sans-serif; }
  .nosotros1 h3 {
    font-family: "Spartan", sans-serif;
    color: #e4e2e2;
    padding: 1rem;
    justify-content: center;
    text-align: center; }
  .nosotros1 h4 {
    font-family: "Spartan", sans-serif;
    padding: 1rem;
    margin: 5rem;
    color: #e4e2e2;
    display: flex;
    justify-content: center;
    background-color: #2b2a2a; }
  .nosotros1 article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    background-color: #3a3932;
    flex-wrap: wrap; }
    .nosotros1 article p {
      font-size: 1rem;
      font-family: "Spartan", sans-serif;
      color: #e4e2e2;
      text-align: center;
      justify-content: center; }
    .nosotros1 article div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #2b2a2a;
      font-size: 2rem;
      color: #e4e2e2;
      flex: 1 400px;
      padding: 2.5rem;
      margin: 0.5rem; }
      .nosotros1 article div img {
        height: 5rem;
        object-fit: cover; }
  .nosotros1 .flex12 {
    background-color: #3a3932;
    margin: 2rem;
    padding: 2rem; }
    .nosotros1 .flex12 p {
      color: #e4e2e2;
      font-family: "Spartan", sans-serif;
      font-size: smaller;
      font-style: oblique;
      display: flex;
      justify-content: center;
      text-align: center; }
  @media (min-height: 380px) {
    .nosotros1 .parrafoNosotros {
      font-size: small; } }

.bodyContacto {
  background-color: #616160; }
  .bodyContacto main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2a2a; }
    .bodyContacto main h2 {
      font-family: "Spartan", sans-serif;
      color: #e4e2e2; }
  .bodyContacto section {
    color: #e4e2e2;
    background-color: #423f29;
    padding-right: 20px;
    padding-left: 20px; }
    .bodyContacto section .mb-5 {
      font-family: "Spartan", sans-serif; }
  .bodyContacto .btn__send {
    position: relative;
    top: 10px; }

.text-white {
  font-family: "Spartan", sans-serif;
  font-size: 15px; }
