@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Josefin+Sans&family=Montserrat:ital,wght@0,100;0,300;1,200&family=Neonderthaw&family=Pacifico&family=Roboto:wght@300&family=Spartan:wght@200&display=swap');

$font1: 'Dongle', sans-serif;

$font1: 'Josefin Sans', sans-serif;

$font1: 'Montserrat', sans-serif;

$font1: 'Neonderthaw', cursive;

$font1: 'Pacifico', cursive;

$font1: 'Roboto', sans-serif;

$font1: 'Spartan', sans-serif;